@using TallerTechnologies.Domain.Models
@model List<CarViewModel>
@{
    ViewData["Title"] = "Cars availables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div style="text-align:center">
    <table class="table table-hover mt-5">
        <thead class="thead-dark">
            <tr>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    Year
                </th>
                <th>
                    Color
                </th>
                <th>
                    Doors
                </th>
                <th>
                    Price
                </th>
                <th>
                    View Detail
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Doors)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Price)
                    </td>
                    <td>
                        <a asp-controller="Car" asp-action="Detail" asp-route-id="@item.Id">Detail</a> |
                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete car?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>